@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./grayscale-light.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --foreground-rgb: 255, 255, 255; */
/*     --background-start-rgb: 0, 0, 0; */
/*     --background-end-rgb: 0, 0, 0; */
/*   } */
/* } */

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient( */
  /*     to bottom, */
  /*     transparent, */
  /*     rgb(var(--background-end-rgb)) */
  /*   ) */
  /*   rgb(var(--background-start-rgb)); */
}

.mcontainer {
  @apply w-[1250px] m-auto;
}

.header {
  @apply bg-white border-b shadow-sm;
}

footer {
  @apply bg-white border-t shadow-sm;
}

footer .mcontainer,
.header .mcontainer {
  @apply py-3;
}

footer .mcontainer {
  @apply py-6;
}

.main-content .mcontainer {
  @apply flex;
}

.main-content .content {
  @apply border-l;
}

.sidebar {
  @apply w-[200px] shrink-0 relative h-screen;
  @apply text-sm;
}

.sidebar nav {
  @apply sticky top-0 left-0 bottom-0 ;

}

.sidebar-item {
  /* @apply px-3 py-2 text-sm hover:bg-indigo-50; */
  @apply block py-1 text-gray-500 hover:text-gray-800 hover:underline;
  @apply transition cursor-pointer;
}

.sidebar-item.active {
  @apply font-medium text-gray-800;
  /* @apply bg-indigo-600 text-white; */
}

.content {
  @apply px-3 py-2 pb-12 relative;
  @apply px-[100px] w-full;
}

.content h2,
.content h3 {
  @apply mt-10 font-semibold;
  @apply text-gray-700;
}

.content p,
.content ul {
  @apply text-gray-700 text-sm mt-4 leading-6;
}

.content h2 {
  @apply text-3xl;
}

.content h3 {
  @apply text-2xl;
}

.content ul {
  @apply list-disc pl-6;
}

/* Code preview */

.code-desc {
  @apply relative border-t px-4 py-3;
}

.code-desc h3 {
  @apply absolute -top-2.5 bg-white px-1 left-4 mt-0 text-sm font-medium;
}

.code-desc p {
  @apply mt-0;
}
